@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700;800&family=Lexend+Deca&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaina 2", cursive;
}

body {
  background-image: linear-gradient(
    136.31deg,
    #7240f0 14.16%,
    #844fb5 53.39%,
    #5f5e95 82.63%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header {
  padding: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
}

header nav ul {
  display: flex;
  gap: 2rem;
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  list-style-type: none;
}

li a {
  color: #372b4c;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
}

main .left {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(
    95.4deg,
    #431f87 0.42%,
    #2d2f76 46.87%,
    #1e064e 81.5%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 545px;
  text-align: center;
  margin-bottom: 50px;
}

main h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(
    95.4deg,
    #431f87 0.42%,
    #2d2f76 46.87%,
    #1e064e 81.5%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 50px;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

main form input {
  font-family: "Lexend Deca", sans-serif;
  height: 61px;
  width: 408px;
  border-radius: 10px;
  background-color: #9f7fdb;
  color: #372b4c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 20px;
  border: none;
}

main form input::placeholder {
  color: #372b4c;
}

main form .button-wrapper {
  display: flex;
  gap: 84px;
}

.button-wrapper .moon {
  height: 84px;
  width: 249px;
  border-radius: 8px;
  padding: 18px 28px 18px 28px;
  background-color: #381676;
  border: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  color: #e9e1fd;
  cursor: pointer;
}

.button-wrapper .inform {
  height: 84px;
  width: 265px;
  border-radius: 8px;
  background-color: #493a66;
  border: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.button-wrapper .inform a {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 2px;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.error,
.success-style {
  display: block;
  color: #e3dbf3;
  background-color: #242424;
  padding: 0.3rem 1rem;
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
